.outer-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.container {
  display: flex;
  flex: 1
}



.dropzone {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  width: 100%;
  background-color: #666;
}

.drag-message {
  margin: 1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.space {
  margin: 0.5rem;
}

.side-bar {
  min-width: fit-content;
  border-right: 3px #fff dashed;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  line-height: 1.5rem;
}

.side-bar-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.image-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #aaa;
}


.title {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.files-list {
  padding: 1rem;  
}

.files-list li {
  display: flex;
  margin-bottom: 0.5rem;
  list-style: none;
  justify-content: space-between;
}

.files-list li a {
  display: block;
  margin-right: 1rem;
}

.files-list li button {
  width: 2rem;
}


.url-preview {
  text-decoration: none;
  color: #ccc;
}

.url-preview:hover {
  color: #fff;
}

.center {
  display: flex;
  justify-content: center;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.bottom {
  align-items: flex-end;
}

a {
  text-decoration: none;
  color: #ccc;
  font-size: 1.1rem;
}

